<header>
<div id="navbar">
    
    <div class="logo">
    <ul>
        <li>
    <a href="{{ '/' | prepend:site.baseurl }}">
        <img src="assets/julianeurologo.png">
    </a>
        </li>
      <li>
          <h1>{{ site.title }}</h1>
     </li>
        
    </ul>
      </div>
    
    <div class="linkbar"> 
    <ul>
    
        <li><<a href="{{ '/packages' | prepend: site.baseurl }}"><div>Packages</div></a></li>
        <li><a href="{{ '/papers' | prepend: site.baseurl }}"><div>Papers</div></a></li>
        <li><a href="{{ '/people' | prepend: site.baseurl }}"><div>People</div></a></li>
    </ul>

    </div> 
    </div>
    <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->
</header>
